# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Nathan Moore\OneDrive - uah.edu\Nathan\SP21\CS 330 - AI for Games\Projects\stateMachineCPP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
